.list {
    width: 80px;
    height: 30px;
    border: 1px solid green;
    background: antiquewhite;
}
.list a {
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
#ul1 {
    width: 140px;
    border: green 1px solid;
    /* background: white; */
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
}
ul li {
    text-align: center;
    height: 30px;
    /* background: yellow; */
}