#container {
    width: 300px;
    height: 700px;
    background-image: url('../img/5iphone.jpg');
    background-repeat: no-repeat;
    margin: 40px auto;
}

#talk {
    width: 258px;
    height: 400px;
    border: 1px solid gray;
    position: relative;
    top: 76px;
    left: 20px;
    background: white;
    overflow: auto;
}
#input {
    width: 255px;
    height: 55px;
    border: none;
    position: relative;
    top: 75px;
    left: 20px; 
}
#bt1 {
    width: 34px;
    height: 34px;
    /* background: url("../img/bq1.png") no-repeat ; */
    position: relative;
    top: 10px;
    left: 2px;
    
}

#text1 {
    color: black;
    width: 160px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
#bt2 {
    width: 40px;
    /* height: 50px; */
    font-size: 70px;
    padding: 20px 20px;
    /* text-align: center; */
}
#span1-right {
    font-size: 12px;
    line-height: 20px;
    max-width: 170px;
    background: greenyellow;
    border: 1px solid greenyellow;
    padding: 2px 4px;
    border-radius: 3px;
    /* position: absolute;
    right: 35px; */
    margin: 10px 0px 10px 40px;
    top: 10px;
    overflow: auto;
    }
#span1-left {
    font-size: 12px;
    line-height: 20px;
    max-width: 150px;
    background: greenyellow;
    border: 1px solid greenyellow;
    padding: 2px 4px;
    border-radius: 3px;
    margin: 10px 0px 10px 40px;
    top: 10px;
    overflow: auto;
    }
#img1 {
    position: absolute;
    right: 1px;
    margin-top: 8px;
}
#img2 {
    position: absolute;
    left: 1px;
}